@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 1.5rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  color: #272727;
}

@keyframes typing {
  from { width: 0 }
}
@keyframes caret {
  50% { border-right-color: #a1a1a1; }
}

@media screen and (min-width:800px) {
  .title {
    font-size: 22px;
    width: 22rem;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(10), caret .3s steps(1) 6;
    border-right: 10px solid transparent;
  }
}

